.donate-para {
    height: 40vh;
    width: 100vw;
    padding: 9rem;
    font-size: 2rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.045rem;
    padding-bottom: 1rem;
}

.donate-heading {
    padding-left: 40rem;
    padding-bottom: 1rem;
    padding-top: 8rem;
}